/* @import 'fonts'; */
* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
  color: #212121;
  line-height: 1.5;
  display: flex;
  justify-content: center;
}

img {
  display: block;
  max-width: 100%;
}
p {
  margin: 0;
  padding: 0;
  font-size: 90px;
}
.section {
  width: 500px;
  height: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  background-color: #f2f2f2;
}

.cont {
  margin-top: 15px;
  display: flex;
  gap: 5px;
}

.sub-cont {
  display: flex;
  justify-content: center;
  border: 2px solid #212121;
  border-radius: 5px;
  height: 139px;
  width: 100px;
  box-shadow: inset 0px 0px 20px 0px rgba(0, 0, 0, 4);
}

.start-button {
  width: 100px;
  height: 100px;
  color: #ffffff;
  font-size: 20px;
  text-shadow: 0px 0px 3px 0px rgb(255, 255, 255),
    0px 0px 2px 0px rgb(255, 255, 255);
  background-color: rgb(255, 0, 0);
  border-color: #212121;
  border-radius: 50%;
  box-shadow: inset 0px 0px 0px 2px rgba(0, 0, 0, 0.198),
    0px 0px 20px 0px rgba(0, 0, 0, 0.361);
}
.start-button:active {
  width: 99px;
  height: 99px;
  font-size: 19.8px;
  text-shadow: 0px 0px 3px 0px rgb(255, 255, 255),
    0px 0px 2px 0px rgb(255, 255, 255);
  background-color: rgb(255, 0, 0);
  border-radius: 50%;
  box-shadow: inset 0px 0px 0px 2px rgba(0, 0, 0, 0.198),
    0px 0px 10px 0px rgba(0, 0, 0, 0.323);
}
.start-button-enter {
  width: 99px;
  height: 99px;
  font-size: 19.8px;
  text-shadow: 0px 0px 3px 0px rgb(255, 255, 255),
    0px 0px 2px 0px rgb(255, 255, 255);
  background-color: #ff0000;
  border-radius: 50%;
  box-shadow: inset 0px 0px 0px 2px rgba(0, 0, 0, 0.198),
    0px 0px 10px 0px rgba(0, 0, 0, 0.323);
}

.top-up {
  width: 110px;
  height: 30px;
}

.score {
  font-size: 40px;
}

.rest-push {
  font-size: 30px;
}
.your-win {
  font-size: 50px;
}
.your-win-numb {
  font-size: 60px;
  line-height: 20px;
  color: #ff0000;
  text-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.354);
}

.clss-cont {
  display: flex;
  gap: 40px;
  padding: 10px;
  border: solid 2px #212121;
  border-radius: 10px;
  background-color: #ffffff;
  text-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.208);
  margin-top: 15px;
  margin-bottom: 15px;
}

.classification {
  font-size: 20px;
}

.hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
